/Semana01/Semana01/nbproject/private/
/Semana01/VentaApp/nbproject/private/
/Semana01/VentaApp/build/
/Semana01/VentaApp/dist/
/Semana02/Semana02/nbproject/private/
/Semana02/Semana02/build/
/Semana02/AppBanco/nbproject/private/
/Semana02/AppBanco/build/
/Semana02/PromedioApp/nbproject/private/
/Semana02/PromedioApp/build/
/Semana03/ApendiendoJava/nbproject/private/
/Semana03/ApendiendoJava/build/
/Semana03/SistVentas/nbproject/private/
/Semana03/SistVentas/build/
/Semana04/AprendiendoHerencia/nbproject/private/
/Semana04/AprendiendoHerencia/build/
